MSSQL_SA_PASSWORD=YourStrong!Pass1
MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_DB=AdventureWorks2025

PG_USER=warehouse
PG_PASSWORD=warehouse
PG_DB=warehouse
PG_HOST=localhost
PG_PORT=5432

AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
AIRFLOW__EXECUTION_API__JWT_EXPIRATION_TIME=86400
